<html>
	<head>
	</head>
	<body>
		<h1>welcome <%= user.email %>!</h1>
		<form action="/api/searchRestaurants" method="post">
			search for restaurants:<br>
			<input name="query" value=""><br>
			<input type="submit" value="submit">
		</form>
	</body>
</html>
