<html>
	<head>
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<h1>you searched for <%= query %></h1>
		<ul>
			<% for (var row of rows) { %>
				<li>
					<a href="/restaurant/<%= row.id %>">
						<%= row.name %>
					</a>
				</li>
			<% } %>
		</ul>
	</body>
</html>
